.question-answer-container {
    background-color: rgb(224, 246, 247);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.check-btn {
    border: none;
    background-color: rgb(224, 246, 247);
}