.quizes-container {
    background-color: rgb(226, 243, 249);
    padding: 10px;
}

.quize-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px 10px;
    background-color: rgb(255, 242, 225);
}

.page-header {
    height: 100px;
    background-color: rgb(251, 251, 228);
    justify-content: space-between;
    align-items: center;
}

.page-header img {
    height: 85px;
    width: 100%;
}


/* responsive for tablet devices */
@media screen and (min-width:689px) and (max-width:992px) {
    .quize-container {
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .page-header img {
        height: 80px;
        width: 100%;
    }
}


/* responsive for mobile devices */
@media screen and (max-width:688px) {
    .quize-container {
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .page-header img {
        height: 96px;
        width: 100%;
    }
}