.blog-container {
    border: 2px solid thistle;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
    padding: 10px;
    background-color: rgb(239, 231, 231);
}

.answers {
    background-color: rgb(195, 245, 221);
}